<header>
  <div class="logo">
    <a href="/mechanic_dashboard/index" class="logo-text">DriveBidRent</a>
  </div>
  <nav>
    <ul>
      <li><a href="/mechanic_dashboard/current-tasks">Current Tasks</a></li>
      <li><a href="/mechanic_dashboard/past-tasks">Past Tasks</a></li>
      
      <li><a href="/mechanic_dashboard/profile">Profile</a></li>
      <li><a href="/">Logout</a></li>
    </ul>
  </nav>
</header>