<!-- Navigation Bar Partial -->
<nav class="navbar">
    <div class="nav-container">
        <div class="logo"><a href="/proj">DriveBidRent</a></div>
        <div class="nav-links">
            <a href="/purchase">My Purchases</a>
            <a href="/wishlist">Wishlist</a>
            <a href="#notifications">Notifications</a>
            <a href="/Aboutus">About Us</a>
        </div>
        <div class="profile">
            <img src="<%= (typeof user !== 'undefined' && user.photoPath) ? user.photoPath : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png' %>" alt="profile symbol">
            <a href="/profile" class="profile-text"><%= (typeof user !== 'undefined') ? (user.firstName + ' ' + user.lastName) : 'My Profile' %></a>
            <button class="logout-btn" onclick="location.href='/logout'">Logout</button>
        </div>
    </div>
</nav>